<div class="row">
	<div class="col-md-12">
		<nb-card class="profile-card">
			<nb-card-header>
				<div class="row">
				<div class="col-md-10">
					Profile
				</div>
				<div class="col-md-2">
					<div class="icon">
					<i class="nb-edit"></i>
					</div>
					Edit
				</div>
				</div>
			</nb-card-header>
			<nb-card-body>
				<!-- <h5 class="grid-h">Stacked to horizontal</h5> -->
				
				<div class="row show-grid">
					<div class="col-md-3">
						<img class="profile-img" src="../../../assets/images/alan.png" alt="Profile pic">
					</div>
					<div class="col-md-4">
						<div>.col-md-5</div>
					</div>
					<div class="col-md-5">
						<div>.col-md-5</div>
					</div>
				</div>
		
			</nb-card-body>
		</nb-card>
	</div>
</div>
	